[submodule "SayIt/vendor/whisper.cpp"]
	path = SayIt/vendor/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "SayIt/SayIt/ThirdParty/whisper.cpp"]
	path = SayIt/SayIt/ThirdParty/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
